body {margin: 0px;
      padding: 0px;
      font-family: Lucida, Verdana, Sans-serif;}
a {text-decoration: none;}
  a:link{color: pink;}
  a:visited{color: pink;}
#feedly {padding: 15px 0 0 15px;}
div {overflow: hidden; padding: 0px;}
h1 {width: 100%;
    font-size: 25px;
    margin-left: 50px;}
h2 {padding-top: 10px;
    width: 100%;
    font-size: 10px;
    margin-left: 50px;}
h4 {font-size: 25px;}
.caja h3{width: 100%;
        font-size: 11px;}
.caja p{font-size: 10px;
        margin-left: 15px;}

#menu{height: 40px;
      background-color: #FFF;
      overflow: visible;}
#menu ul {float:right;}
#menu li{margin: 10px;
      display: inline;}
.negre {color:#333;}

#uno {background-color: #E6E6E6;
      height: auto;
      width: 100%;
      text-align: center;}
.contingut {font-size: 12px;
            width: 250px;
            height: auto;
            margin-bottom: 4px;}
.started {font-size: 12px;
          margin: 0 0 5px 0;
          background-color: #01DF74;
          border-radius: 5px;
          padding: 0 15px;
          width: 175px;
          height: auto;}
.started a {color: white;}
.començament {text-align: left;
              margin-left: 135px;
              margin-bottom: 10px;}
.benvingut {width: 300px;
            height: 70px;}
#dos {height: auto;
      width: 80%;
      margin: 0 auto;}
#tres {background-color: #E6E6E6;
      height: auto;
      width: 80%;
      margin: 0 auto;}
#cuatro {height: auto;
      width: 80%;
      margin: 0 auto;}
#gris {background-color:  #E6E6E6;}
#uno img {margin-left: 0px;
          width: 70%;
          height: auto;}
.control {text-align: center;}
.caja {text-align: left;
      width: 25%;
      height: 140px;
      padding: 5px;
      margin: 3px;
      float: left;}
.fa {color: #01DF74;}
