@media (min-width: 1280px) {
      body {margin: 0;
            padding: 0;}


      #cap{width: 100%;
          height: auto;
          background-color: #2E2E2E;
          color: white;
          overflow: hidden;
          padding-bottom: 15px;
          position: fixed;}
      #cap ul {width: 90%;
              margin: 0 auto;
              padding: 0;
              display: block;
              text-align: center;}
      #cap ul li {margin: 5px;
                  width: 20%;
                  display: inline;
                  border: solid 1px #FFF;
                  padding: 5px;}
      h1 {text-align: center;
          margin-top: 0;}


      #cos {width: 80%;
            background-color: white;
            overflow: hidden;
            padding-top: 90px;
            float: left;}
      #cos ul {margin: 0;
              padding:0;}
      #cos ul li {margin: 10px 13px;
                  background-color: #F08080;
                  text-align: center;
                  float: left;
                  height: 130px;
                  width: 22.4%;}


      #menu {width: 20%;
            height: 460px;
            background-color: #D8D8D8;
            overflow: hidden;
            padding-top: 90px}
      #menu ul {margin: 0;
                padding: 0;}
      #menu ul li {margin: 10px 13px;
                  background-color: #FFA07A;
                  text-align: center;
                  display: block;
                  height: 20px;}


      #peu {height: 50px;
            background-color: #2E2E2E;
            margin: 0;
            clear: both;}
      }
